body{
    background-color: black;
}
body img{
    width: 100%;
}
.sun{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: yellow;
}
.merkuri-galaxy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 250px;
    width: 250px;
    animation: 20s rotate1 infinite linear;

    .merkuri{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: bisque;
    }
}
@keyframes rotate1{
    0%{
        transform:translate(-50%,-50%) rotate(0) ;
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

.venera-galaxy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 300px;
    animation: 20s rotate2 infinite linear;

    .venera{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: tomato;
    }
}

@keyframes rotate2{
    0%{
        transform:translate(-50%,-50%) rotate(0) ;
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}